/* .gif { */
.gif-image {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
    border-radius: 12px;
    /* max-height: 200px;
    object-fit:cover;
    overflow: hidden; */
}
