.lastSearch {
    max-width: 900px;
    margin: 0px 0px  30px 8px;
    text-transform: capitalize;
}
.lastSearch a:visited {
    color: #ffe01b;
}
.gallery {
    width: 100%;
    min-height: 100vh;
    padding: 8px 8px 30px 8px;
    columns: 200px auto;
    column-gap: 8px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    align-items: center; */
    /* grid-template-rows: masonry; -> Propiedad que sólo está disponible para Firefox, aunque no de manera oficial todavía */ 
    grid-area: uno;
}
@media (min-width: 768px) {
    .gallery { columns: 200px auto; }
}
@media (min-width: 768px) {
    .gallery { columns: 200px auto; }
}
@media (min-width: 1366px) {
    .gallery { columns: 325px auto; }
    .lastSearch{ margin: 0 auto 30px;}
}
.container-trendings {
    position: relative;
    max-width: 1366px;
    grid-area: dos;
}