.gifsDetail, h3, small {
    max-width: 700px;
    padding: 0 8px;
    margin: 0 auto;
}
h3 { margin-bottom: 30px; }
small{
    display: block;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color:aliceblue;
}
a:visited {
    color: #FFEB3A;
}
.notFoundPage {
    max-width: 1366px;
    text-align: center;
    margin-top: 100px;
}
.notFoundPage h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.notFoundPage img {
    width: 200px;
    margin-bottom: 50px;
}
.notFoundPage a {
    font-size: 30px;
    text-decoration: underline;
}